body {
  position: relative;
  font-family: "Montserrat", sans-serif;
}
html {
  height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
  outline: 0 none !important;
  color: inherit;
}
#mainDiv {
  width: 100%;
}

#closeBtn {
  display: none;
}
.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}
.tools_container {
  display: grid;
}
.tools {
  display: grid;
  justify-content: center;
}
/*
.grid-icon > * {
  border:1px solid red;
}
.tools_container > * {
  border:1px solid red;
}
*/
.grid-icon {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  margin-left: 125px;
  margin-right: 125px;
  justify-content: space-evenly;
  text-align: center;
  row-gap: 10px;
}
#section1,
#section2 {
  display: grid;
  justify-content: center;
  height: 100vh;
}
#section1 {
  align-items: end;
  grid-template-rows: 1.5fr 1fr;
}

#section2 {
  padding-top: 2em;
}
/* #section1 {
  padding-top: 17em;
  padding-bottom: 16em;
  height: 100vh;
}
#section2 {
  padding-top: 7em;
  padding-bottom: 5em;
  height: 100vh;
} */
#section3 {
  padding-top: 3em;
  padding-bottom: 6em;
  height: 100vh;
}
#section4 {
  padding-top: 3em;
  padding-bottom: 12em;
  height: 100vh;
  background-color: #f5f4f4;
}

#welcome {
  text-align: center;
}

.down-arrow{
  display: grid;
  justify-content: center;
  align-items: baseline;
  animation: bounce 1s infinite;
  animation-fill-mode: both;
  margin-bottom: 2em
}

@keyframes bounce{
  0%,100% {
    transform: translateY(0px);
    animation-timing-function:cubic-bezier(.8,0,1,1);
  }
  50%{
    transform: translateY(15px);
    animation-timing-function: cubic-bezier(0,0,.2,1);
  }
}
#about {
  width: 50%;
  text-align: left;
  font-size: large;
  padding-top: 4em;
  padding-left: 5em;
}
#about_image {
  background-image: url(./img/about3.jpg);
  background-repeat: no-repeat;
  width: 20em;
  height: 20em;
  background-size: cover;
  margin-left: 10%;
  border-radius: 5%;
}
.grid-icon > div > [class^="devicon-"] {
  font-size: 6em;
}
#skills {
  margin-top: 30px;
  margin-left: 265px;
  width: 800px;
  padding-left: 35px;
}
#tool {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

table {
  text-align: center;
}
td {
  padding: 5px 15px;
}

#follow_me {
  margin: 100px 100px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-footer {
  display: grid;
  width: 20rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.card-footer {
  text-align: center;
  background-color: #343a40;
  display: grid;
  justify-content: center;
  color: #fff;
}

.contact-footer a:hover {
  color: turquoise;
}

.card_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.project-card {
  display: grid;
  justify-items: center;
  width: 20em;
  height: 30em;
  border: 1px solid red;
  border-radius: 5%;
  background-color: #d3e0ea;
  grid-template-rows: 8em 6em 13em 0em;
}

.project-card .card-title {
  font-weight: bolder;
  font-size: 1.2rem;
  margin-top: 3em;
}

.project-card .card-item-footer {
  border-top: 1px solid grey;
  width: 100%;
  padding: 0.5em;
  height: 0em;
  text-align: center;
}
.project-card:hover {
  transform: scale(1.05);
}
.project-card .card-desc {
  padding: 1em;
  display: grid;
  justify-content: start;
}

.card-stack {
  font-size: 0.8em;
}

@media only screen and (min-width: 1200px) {
  .icon {
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h1 {
    font-size: 2rem;
  }
  .icon {
    justify-content: flex-end;
    color:rgba(255,255,255,.5);
  }
  #closeBtn {
    display: unset;
  }

  #mainDiv .navbar-nav {
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    width: unset;
    transform: translate(-150px, 0px);
    justify-content: flex-start;
    transition: all 0.3s;
    transition-timing-function: ease-in;
    background-color: #23292f;
  }
  .navbar-nav #closeBtn {
    font-size: 3em;
    margin-left: 100px;
    padding-right: 10px;
  }
  .nav-item > a {
    color: rgba(255,255,255,.5) !important;
    padding-left: 10px !important;
  }

  #about {
    width: unset;
    padding-top: unset;
    padding-left: unset;
  }
  #about_image {
    width: 225px;
    height: 225px;
    margin-left: unset;
  }
  .about_container {
    justify-content: center;
  }
  .tools_container {
    margin-top: 50px;
  }
  .grid-icon {
    margin-left: unset;
    margin-right: unset;
    grid-template-columns: 90px 90px 90px 90px;
    row-gap: 20px;
  }
  .grid-icon > div > [class^="devicon-"] {
    font-size: 4em;
  }
  #follow_me {
    margin: unset;
  }
  #section4 {
    height: 100%;
    padding-bottom: 5em;
  }
  .card_list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-row-gap: 1em;
  }
  .project-card {
    width: 18em;
    height: 25em;
    grid-template-rows: 6em 2em 14em 0em;
  }
}
