body {
      position: relative; 
      font-family: "Montserrat",sans-serif;
  }
<<<<<<< HEAD
  a, a:visited, a:focus, a:active, a:hover{
    outline:0 none !important;
}
=======
<<<<<<< Updated upstream
=======
  a, a:visited, a:focus, a:active, a:hover{
    outline:0 none !important;
    color: inherit;
}
>>>>>>> Stashed changes
>>>>>>> working

 .navbar-nav{
   margin-left: 75%;
 }

 #section1{
     padding-top:280px;
     padding-bottom:280px;
 }
 #section2{
     padding-top:50px;
     padding-bottom:111px;
 }
 #section3{
     padding-top:50px;
     padding-bottom:260px;
 }
 #section4{
     padding-top:50px;
     padding-bottom:275px;
 }

 #welcome{
 	text-align: center;

 }
 #about{
 	width: 50%;
 	text-align: left;
 	font-size: large;
 	padding-top: 60px;
 }
 #about_image{
    background-image: url(./img/about.jpg);
    width: 360px;
    height: 360px;
    background-size: contain;
    margin-left: 10%;
 }
 .devicon-html5-plain,.devicon-css3-plain,.devicon-javascript-plain,.devicon-jquery-plain,.devicon-java-plain,.devicon-bootstrap-plain,
 .devicon-mysql-plain,.devicon-oracle-original,.devicon-python-plain,.devicon-git-plain{
 	font-size: 7em;
 }
#skills {
	margin-top: 30px;
	margin-left: 265px;
	width: 800px;
  padding-left: 35px;
	
}
#tool{
	text-align: center;
	padding-top: 15px;
<<<<<<< HEAD
=======
<<<<<<< Updated upstream
}
=======
>>>>>>> working
}

table{
	text-align: center;
}
td{
<<<<<<< HEAD
	padding: 5px 15px;
}
=======
	padding: 10px 15px;
}
#follow_me{
  width: 800px;
  margin-left: 275px;
  margin-top: 100px;
}
.hoverLink{
  color: red;
}
>>>>>>> Stashed changes
>>>>>>> working
